@charset utf-8;

body,html{
	margin:0px;
	background:url("ground.jpg");
}

.container{
	margin:50px auto;
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	background-color:#08f;
	background-size:100% 100%;
}

.left{
	position:absolute;
	left:0px;
	width:300px;
	top:0px;
	bottom:0px;
	background-color:rgba(0,15,33,0.6);	
}

.left img{
	margin:50px 50px 0px 100px;
	width:100px;
	height:100px;
}

.left ul{
	width:300px;
	list-style:none;
	padding:20px 0px 0px 0px;
}

.left li{
	text-align:center;
	padding:0px;
	line-height:80px;	
	width:300px;
	height:80px;
	float:left;	
	color:#fff;
	font-size:24px;
	font-weight:bold;
}

.left li:hover{
	background-color:orange;
}

.left li:hover .right_1{
	display:block;
}

.right_1 li:hover{
	background-color:#fff;
}

.right_1{
	position:absolute;
	left:500px;
	right:0px;
	top:200px;
	bottom:0px;
	display:none;
}

.right_1_1{
	padding-top:5px;
	width:400px;
	height:500px;
	border-radius:30px;
	perspective:500;
}

.rigth_1_1 ul{	
	width:400px;
	list-style:none;
	padding:0px;
}

.right_1_1 li{
	text-align:left;
	padding:5px 0px 0px 20px;
	line-height:80px;	
	width:350px;
	height:80px;
	color:#000;	
}

.left li:hover .right_2{
	display:block;
}

.right_2 li:hover{
	background-color:#fff;
}

.right_2{
	position:absolute;
	left:500px;
	right:0px;
	top:200px;
	bottom:0px;
	display:none;
}

.right_2_1{
	padding-top:30px;
	width:400px;
	height:250px;
	border-radius:30px;
}

.rigth_2_1 ul{
	width:400px;
	list-style:none;
	padding:0px;
}

.right_2_1 li{
	text-align:left;
	padding:0px 0px 0px 40px;
	line-height:80px;	
	width:350px;
	height:80px;
	color:#000;	
	font-size:24px;
}

.left li:hover .right_3{
	display:block;
}

.right_3{
	position:absolute;
	left:550px;
	right:0px;
	top:200px;
	width:80px;
	height:650px;
	display:none;
	background:linear-gradient(to left,green,blue);
	line-height:60px;
	font-size:36px;
}

.left li:hover .right_4{
	display:block;
}

.right_4{
	text-align:left;
	position:absolute;
	left:400px;
	width:550px;
	top:0px;
	bottom:0px;
	display:none;
	color:#000;
	font-family:华文行楷;
	font-size:30px;
}

.left li:hover .right_5{
	display:block;
}

.right_5{
	text-align:left;
	position:absolute;
	left:350px;
	width:550px;
	top:0px;
	bottom:0px;
	display:none;
	color:#000;
	font-size:22px;
	text-indent:44px;
}

.left li:hover .right_6{
	display:block;
}

.right_6{	
	position:absolute;
	left:350px;
	width:500px;
	top:50px;
	bottom:0px;
	display:none;	
}

.right_6 ol{	
	width:500px;
}

.right_6 li{
	text-align:left;
	width:480px;
	height:150px;
	color:#000;	
	font-size:30px;
}

