@charset utf-8;

body,html{
	margin:0px;
	padding:0px;
}

.container{
	margin:0px auto;
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	background-color:#0af;
}

.left{
	position:absolute;
	left:0px;
	width:280px;
	top:0px;
	bottom:0px;
	background-color:rgba(0,15,33,0.6);	
}

.left img{
	margin:65px;
	width:150px;
	height:200px;
}

.left ul{
	width:280px;
	padding:0px;
}

.left li{
	text-align:center;
	padding:0px;
	line-height:100px;	
	width:280px;
	height:100px;
	float:left;	
	color:#fff;
	font-size:30px;
	font-weight:bold;
	margin-bottom:50px;
}

.left li:hover{
	background-color:orange;
}

.left li:hover .right_1{
	display:block;
}

.right_1 li:hover{
	background-color:#fff;
}

.right_1{
	position:absolute;
	left:350px;
	right:50px;
	top:50px;
	bottom:0px;
	display:none;
}

.right_1_1{
	margin:0px auto;
	height:100px;
	width:550px;
	text-align:left;
	background-color:#0f0;
	font-weight:bold;
	font-size:32px;
}

.right_list_1{
	margin:0px auto;
	height:500px;
	padding-left:100px;
}

.rigth_list_1 ul{	
	width:500px;
	padding:0px;
}

.right_list_1 li{
	text-align:left;
	line-height:35px;	
	width:450px;
	height:35px;
	color:#000;	
}

.right_1_2{
	margin:0px auto;
	height:100px;
	width:550px;
	text-align:left;
	background-color:#0f0;
	font-weight:bold;
	font-size:32px;
}

.right_list_2{
	margin:0px auto;
	height:320px;
	padding-left:100px;
}

.rigth_list_2 ul{	
	width:500px;
	padding:0px;
}

.right_list_2 li{
	text-align:left;
	line-height:35px;	
	width:450px;
	height:35px;
	color:#000;	
}

.right_1_3{
	margin:0px auto;
	height:100px;
	width:550px;
	text-align:left;
	background-color:#0f0;
	font-weight:bold;
	font-size:32px;
}

.right_list_3{
	margin:0px auto;
	height:50px;
	padding-left:100px;
}

.rigth_list_3 ul{	
	width:500px;
	padding:0px;
}

.right_list_3 li{
	text-align:left;
	line-height:35px;	
	width:450px;
	height:35px;
	color:#000;	
}

.left li:hover .right_2{
	display:block;
}

.right_2{
	text-align:left;
	position:absolute;
	left:350px;
	width:550px;
	top:0px;
	bottom:0px;
	display:none;
	color:#000;
	font-size:30px;
	text-indent:60px;
}

.left li:hover .right_3{
	display:block;
}

.right_3{
	text-align:left;
	position:absolute;
	left:350px;
	width:550px;
	top:0px;
	bottom:0px;
	display:none;
	color:#000;
	font-size:22px;
	text-indent:44px;
}

.left li:hover .right_4{
	display:block;
}

.right_4{	
	position:absolute;
	left:350px;
	width:500px;
	top:50px;
	bottom:0px;
	display:none;	
}

.right_4 ol{	
	width:500px;
	list-style:block;
}

.right_4 li{
	text-align:left;
	width:480px;
	height:150px;
	color:#000;	
	font-size:30px;
}

